*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.full_wrapper{
    width: 100%;
    height: 800px;
    background-color: black;
}

.wrapper{
    width: 960px;
    height: 800px;
    margin: 0 auto;
}

/* header_part */

.header{
    width: 768px;
    height: 100px;
    background-color: #ffffff;
    float: right;
    display: grid;
    grid-template-columns: 538px 230px;
    grid-template-rows: 40px 60px;
}

.header_sarchbarSection{
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

.header_sarchbarSection img{
    bottom: 8px;
    left: 10px;
    position: absolute;
    width: 18px;
    height: 23px;
}

.header_sarchbarSection input{
    border-radius: 15px;
    padding: 7px;
    width: 400px;
    height: 15px;
    bottom: 11px;
    left: 32px;
    position: absolute;
}

.header_notificationSection{
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
}

.header_notificationSection p{
    margin-right: 18px;
    margin-top: 10px;
    text-align: right;
    font-size: 12px;
    font-weight: bolder;
}

#bell_img{
    top: 8px;
    left: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
}

#profile_img_right{
    top: 3px;
    left: 85px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.header_welcomeSection{
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
}

.header_welcomeSection p{
    top: 10px;
    left: 82px;
    position: absolute;
}

.header_welcomeSection h1{
    top: 20px;
    left: 82px;
    position: absolute;
}

#profile_img_left{
    top: 7px;
    left: 30px;
    position: absolute;
    width: 45px;
    height: 45px;
}

.header_buttonSection{
    grid-column: 2/3;
    grid-row: 2/3;
}

.header_buttonSection button{
    width: 56px;
    height: 28px;
    color: white;
    font-weight: bolder;
    background-color: #1992d4;
    border: 1px solid #1992d4;
    border-radius: 15px;
    margin-top: 20px;
    margin: 5px;
    padding: 5px;
}

/* header_part */
/* sidebar_part */

.sidebar{
    float: left;
    width: 192px;
    height: 800px;
    background-color: #1992d4;
}

.sidebar_contener{
    color: white;
    display: grid;
    grid-template-columns: 190px;
    grid-template-rows: 70px repeat(6, 45px) 100px repeat(3, 50px);
    
}

.sidebar_div1{
    grid-row: 1/2;
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.sidebar_div1 h1{
    top: 10px;
    left: 20px;
    position: absolute;
}

.sidebar_div1 img{
    bottom: 30px;
    width: 30px;
    height: 30px;
    left: 7px;
    position: absolute;
}

.sidebar_div2{
    text-align: center;
    grid-row: 2/3;
    position: relative;
}

.sidebar_div2 img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.sidebar_div3{
    text-align: center;
    grid-row: 3/4;
    position: relative;
}


.sidebar_div3 img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 17px;
    left: 20px;
}

.sidebar_div4{
    text-align: center;
    grid-row: 4/5;
    position: relative;
}


.sidebar_div4 img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.sidebar_div5{
    text-align: center;
    grid-row: 5/6;
    position: relative;
}


.sidebar_div5 img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 17px;
    left: 20px;
}

.sidebar_div6{
    text-align: center;
    grid-row: 6/7;
    position: relative;
}


.sidebar_div6 img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 17px;
    left: 20px;
}

.sidebar_div7{
    text-align: center;
    grid-row: 7/8;
    position: relative;
}


.sidebar_div7 img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.sidebar_div9{
    text-align: center;
    grid-row: 9/10;
    position: relative;
}

.sidebar_div9 img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}


.sidebar_div10{
    text-align: center;
    grid-row: 10/11;
    position: relative;
}

.sidebar_div10 img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}


.sidebar_div11{
    text-align: center;
    grid-row: 11/12;
    position: relative;
}

.sidebar_div11 img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}


/* sidebar_part */
/* main_content_part */

.content{
    width: 768px;
    height: 700px;
    background-color:#e2e8f0;
    float: right;
}

/* main_content_part */