*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.full_wrapper{
    width: 100%;
    height: auto;
    background-color: black;
}

.wrapper{
    width: 960px;
    height: 660px;
    margin: 0 auto;
}

/* header_part */

.header{
    width: 768px;
    height: 100px;
    background-color: #ffffff;
    float: right;
    display: grid;
    grid-template-columns: 538px 230px;
    grid-template-rows: 40px 60px;
}

.header_sarchbarSection{
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

.header_sarchbarSection img{
    bottom: 8px;
    left: 10px;
    position: absolute;
    width: 18px;
    height: 23px;
}

.header_sarchbarSection input{
    border-radius: 15px;
    padding: 7px;
    width: 400px;
    height: 15px;
    bottom: 11px;
    left: 32px;
    position: absolute;
}

.header_notificationSection{
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
}

.header_notificationSection p{
    margin-right: 18px;
    margin-top: 10px;
    text-align: right;
    font-size: 12px;
    font-weight: bolder;
}

#bell_img{
    top: 8px;
    left: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
}

#profile_img_right{
    top: 3px;
    left: 85px;
    width: 30px;
    height: 30px;
    position: absolute;
}

.header_welcomeSection{
    grid-column: 1/2;
    grid-row: 2/3;
    position: relative;
}

.header_welcomeSection p{
    top: 10px;
    left: 82px;
    position: absolute;
}

.header_welcomeSection h1{
    top: 20px;
    left: 82px;
    position: absolute;
}

#profile_img_left{
    top: 7px;
    left: 30px;
    position: absolute;
    width: 45px;
    height: 45px;
}

.header_buttonSection{
    grid-column: 2/3;
    grid-row: 2/3;
}

.header_buttonSection button{
    width: 56px;
    height: 28px;
    color: white;
    font-weight: bolder;
    background-color: #1992d4;
    border: 1px solid #1992d4;
    border-radius: 15px;
    margin-top: 20px;
    margin: 5px;
    padding: 5px;
}

/* header_part */
/* sidebar_part */

.sidebar{
    float: left;
    width: 192px;
    height: 665px;
    background-color: #1992d4;
}

.sidebar_contener{
    color: white;
    display: grid;
    grid-template-columns: 190px;
    grid-template-rows: 70px repeat(6, 45px) 100px repeat(3, 50px);
    
}

.sidebar_div1{
    grid-row: 1/2;
    text-align: center;
    margin-top: 10px;
    position: relative;
}

.sidebar_div1 h1{
    top: 10px;
    left: 20px;
    position: absolute;
}

.sidebar_div1 img{
    width: 20px;
    height: 20px;
    left: 20px;
    top: 2px;
    position: absolute;
}

.sidebar_div2{
    text-align: center;
    grid-row: 2/3;
    position: relative;
}

.sidebar_div2 img{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 26px;
    left: 30px;
}

.sidebar_div3{
    text-align: center;
    grid-row: 3/4;
    position: relative;
}


.sidebar_div3 img{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.sidebar_div4{
    text-align: center;
    grid-row: 4/5;
    position: relative;
}


.sidebar_div4 img{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.sidebar_div5{
    text-align: center;
    grid-row: 5/6;
    position: relative;
}


.sidebar_div5 img{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.sidebar_div6{
    text-align: center;
    grid-row: 6/7;
    position: relative;
}


.sidebar_div6 img{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.sidebar_div7{
    text-align: center;
    grid-row: 7/8;
    position: relative;
}


.sidebar_div7 img{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 25px;
    left: 30px;
}

.sidebar_div9{
    text-align: center;
    grid-row: 9/10;
    position: relative;
}

.sidebar_div9 img{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}


.sidebar_div10{
    text-align: center;
    grid-row: 10/11;
    position: relative;
}

.sidebar_div10 img{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}


.sidebar_div11{
    text-align: center;
    grid-row: 11/12;
    position: relative;
}

.sidebar_div11 img{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}


/* sidebar_part */
/* main_content_part */

.content{
    width: 768px;
    height: 565px;
    background-color:#e2e8f0;
    float: right;
}

.top_titels{
    width: 100%;
    height: 30px;
    position: relative;
}

.left_side_heading{
    display: flex;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

.right_side_heading{
    top: 10px;
    left: 540px;
    float: right;
    margin-right: 100px;
    position: absolute;
}

.content_contener{
    height: 538px;
    position: relative;
}

.content_left{
    margin-top: 5px;
    margin-left: 20px;
    width: 500px;
    height: 490px;
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 150px 150px 150px;
    row-gap: 20px; 
    column-gap: 20px ;
}

.content_left_box1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    border-left: 10px solid #f0b429;
}

.content_left_box1 h3{
    margin-left: 10px;
    margin-top: 5px;
}

.content_left_box1 p{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #a2a2a2;
    text-align: justify;
    font-size: 18px;
}

.content_left_box2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: white;
    border-left: 10px solid #f0b429;
}

.content_left_box2 h3{
    margin-left: 10px;
    margin-top: 5px;
}

.content_left_box2 p{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #a2a2a2;
    text-align: justify;
    font-size: 18px;
}


.content_left_box3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    border-left: 10px solid #f0b429;
}

.content_left_box3 h3{
    margin-left: 10px;
    margin-top: 5px;
}

.content_left_box3 p{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #a2a2a2;
    text-align: justify;
    font-size: 18px;
}


.content_left_box4{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    border-left: 10px solid #f0b429;
}


.content_left_box4 h3{
    margin-left: 10px;
    margin-top: 5px;
}

.content_left_box4 p{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #a2a2a2;
    text-align: justify;
    font-size: 18px;
}

.content_left_box5{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
    border-left: 10px solid #f0b429;
}

.content_left_box5 h3{
    margin-left: 10px;
    margin-top: 5px;
}

.content_left_box5 p{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #a2a2a2;
    text-align: justify;
    font-size: 18px;
}

.content_left_box6{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: white;
    border-left: 10px solid #f0b429;
}

.content_left_box6 h3{
    margin-left: 10px;
    margin-top: 5px;
}

.content_left_box6 p{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #a2a2a2;
    text-align: justify;
    font-size: 18px;
}



.content_right {
    top: 5px;
    left: 540px;
    position: absolute;
    float: right;
    height: 500px;
    width: 210px;
}

.right_side_heading{
    text-align: right;
}

.content_right_box1{
    text-align: center;
    width: 100%;
    height: 274px;
    background-color: white;
    margin-bottom: 10px;
}

.content_right_box1 p{
    margin-left: 10px;
    margin-right: 10px;
    color: #a2a2a2;
}

.content_right_box2_downDiv{
    margin-top: 10px;
    width: 100%;
    height: 177px;
    background-color: white;
    display: grid;
    grid-template-columns: 45px 150px;
    grid-template-rows: 40px 40px 40px 40px;
    row-gap: 5px;
    position: relative;
}

.content_right_box2_div1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.content_right_box2_div1 img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 6px;
    left: 8px;
}

.content_right_box2_div2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.content_right_box2_div3{
    grid-column: 1/2;
    grid-row: 2/3;
}

.content_right_box2_div3 img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 8px;
    margin-top: 7px;
}

.content_right_box2_div4{
    grid-column: 2/3;
    grid-row: 2/3;
}

.content_right_box2_div5{
    grid-column: 1/2;
    grid-row: 3/4;
}

.content_right_box2_div5 img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 8px;
    margin-top: 7px;
}

.content_right_box2_div6{
    grid-column: 2/3;
    grid-row: 3/4;
}
.content_right_box2_div7{
    grid-column: 1/2;
    grid-row: 4/5;
}

.content_right_box2_div7 img{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 13px;
    margin-top: 7px;
}

.content_right_box2_div8{
    grid-column: 2/3;
    grid-row: 4/5;
}


/* main_content_part */